*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body , html{
 background-color:rgb(238, 122, 141);
 text-align: center;

}
.container{
    height:70vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
    font-size: 8vmin;
    color:coral;
    background-color:burlywood;
}
#reset{
    padding:1rem;
    font-size: 1.25rem;
    background-color:crimson;
    color: white;
    border-radius: 1rem;
    border: none;
}
.o {
  color: blue;   /* Any color for O */
  font-weight: bold;
}

.x {
  color: red;    /* Any color for X */
  font-weight: bold;
}
#new-button{
    padding:0.8rem;
    font-size: 1.10rem;
    background-color:crimson;
    color: white;
    border-radius: 1rem;
    border: none;
}
#msg{
    color:maroon;
    font-size: 5vmin;
}
.msg-container{
    height:30vmin;
}
.hide{
    display: none;
}
